body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
    width: 80%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.wrong {
    text-align: center;
    color: RGB(250, 74, 57);
    display: none



}
.icon{
    width: 100%

}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4267B2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.links a {
    margin-bottom: 10px;
    text-align: center;
}

.links a:last-child {
    margin-bottom: 0;
}
